@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #050505 !important;
    color: #ffffff !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Selección de texto premium */
  ::selection {
    background-color: #c5a059;
    color: #000000;
  }

  /* Barra de scroll personalizada */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #050505;
  }
  ::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c5a059;
  }
}
@keyframes correr {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.cinta-infinita {
  animation: correr 20s linear infinite !important;
}