@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #0a0a0a; /* Un negro casi puro para el fondo */
  --gold: #c5a059;          /* Tu dorado de la referencia */
  --blue-corp: #0f172a;      /* Azul oscuro corporativo */
}

body {
  background-color: var(--background-dark);
  color: white;
  font-family: sans-serif;
}